NODE_ENV=development

DATABASE_URL="file:./data.sqlite"

PUBLIC_APP_NAME="Vault Boop"
PUBLIC_APP_URL="http://localhost:4321"
PUBLIC_API_URL="http://localhost:4321/api"

HASH_KEY=abc123
ACCESS_TOKEN_TTL='15m'
ALGORITHM="some-algorithm"
