NODE_ENV=development

DATABASE_URL="file:./data.sqlite"

PUBLIC_APP_NAME="Vault Boop"
PUBLIC_APP_URL="http://localhost:4321"
PUBLIC_API_URL="http://localhost:4321/api"

HASH_KEY=abc123
ACCESS_TOKEN_TTL='15m'
CIPHER_ALGORITHM="some-cipher-algorithm"
HASH_ALGORITHM="some-hash-algorithm"
HASH_ALGORITHM_MEM_COST=123
HASH_ALGORITHM_TIME_COST=123
HASH_ALGORITHM_PARALLELISM=123
